body {
    display: flex;
    flex-direction: column;
    align-items: center;
/*     background-color: #ddddddd5;*/
}

#stopWatchHeader {
    display: none;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #00000099;
}

#stopWatchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}

#stopWatchDisplay {
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #444;
    text-shadow: 2px 4px 2px #00000065;
    margin-bottom: 25px;
}

#stopWatchControls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color: hsl(120, 77%, 27%);
}
#startBtn:hover{
    background-color: hsl(120, 77%, 22%);
}
#stopBtn{
    background-color: hsl(0, 70%, 36%);
}
#stopBtn:hover{
    background-color: hsl(0, 70%, 31%);
}
#resetBtn{
    background-color: hsl(202, 72%, 36%);
}
#resetBtn:hover{
    background-color: hsl(202, 72%, 31%);
}

@media screen and (max-width: 600px) {

    #stopWatchDisplay {
        font-size: 3rem;
    }
    #stopWatchControls button {
        font-size: 1rem;
        min-width: 75px;
    }
  }